* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}


form {
    width: 400px; 
    padding: 30px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    background-color: #f9f9f9; 
}
header {
    margin-top: 100px;
    margin-bottom: 8px;
    margin-left: 80px;
}

form p {
    margin-top: 8px;
    margin-bottom: 16px;
}

input {
    margin-bottom: 8px;
    width: 300px;
}

.confirmacao {
    display: none;
    color: green;
}

.negacao {
    color: red;
    display: none;
}